body{

margin:0;

background:#0b0b0b;

font-family:sans-serif;

color:white;

}

#loading{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-size:20px;

}

#banner{

height:250px;

background-size:cover;

background-position:center;

}

.content{

padding:20px;

display:flex;

gap:20px;

}

#cover{

width:180px;

border-radius:12px;

}

.info{

flex:1;

}

#title{

margin-top:0;

}

#meta{

margin:15px 0;

color:#bbbbbb;

}

#genres{

margin-bottom:20px;

}

.genre{

display:inline-block;

background:#222;

padding:8px 12px;

border-radius:20px;

margin-right:8px;

margin-bottom:8px;

}

#watchButton{

background:#ff3d00;

border:none;

color:white;

padding:15px 35px;

font-size:17px;

border-radius:8px;

cursor:pointer;

}

#description{

line-height:1.6;

}
