<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width,initial-scale=1.0">

<title>Zenkai</title>

<link rel="stylesheet"
href="watch.css">

</head>

<body>

<div id="loading">

Loading...

</div>

<div id="anime" style="display:none;">

<div id="banner"></div>

<div class="content">

<img id="cover">

<div class="info">

<h1 id="title"></h1>

<div id="meta"></div>

<div id="genres"></div>

<p id="description"></p>

<button id="watchButton">

▶ Watch Now

</button>

</div>

</div>

</div>

<script src="watch.js"></script>

</body>
</html>
